<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Practice page</h1>
        <ul>
            <% for(let i = 1 ; i <= 10 ; i++){ %>
                <li>
                    <%= i %>
                </li>
            <% } %>
        </ul>

        <% if (false) { %> 
            <h1>TRUE</h1>
        <% }else{ %>
            <h1>FALSE</h1>
        <% } %>

    </body>
</html>